<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576342020346-okqj7o77q7io5onblcr4r1dr20n7k81k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576342020346-okqj7o77q7io5onblcr4r1dr20n7k81k</string>
	<key>API_KEY</key>
	<string>AIzaSyDfsqVdxUbFVr_IuP6rPEGlkwleTwz36vU</string>
	<key>GCM_SENDER_ID</key>
	<string>576342020346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gm.ChallengeGeofence</string>
	<key>PROJECT_ID</key>
	<string>challengegeofence</string>
	<key>STORAGE_BUCKET</key>
	<string>challengegeofence.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576342020346:ios:5cebe4e90627f5fba9f943</string>
</dict>
</plist>